[submodule "AdaptiveWingLoss"]
	path = AdaptiveWingLoss
	url = https://github.com/NastyaMittseva/AdaptiveWingLoss
[submodule "CodeFormer"]
	path = CodeFormer
	url = https://github.com/CnoyZ/CodeFormer
